<article>
	<h1>Market</h1>
	<section>
		<h1><a href="https://drapers-yard.co.uk/">Drapers Yard Chichester</a></h1>
		<ul>
			<li>Saturday 13<sup>th</sup> April</li>
			<li>Saturday 27<sup>th</sup> April</li>
			<li>Saturday 25<sup>th</sup> May</li>
			<li>Saturday 8<sup>th</sup> June</li>
			<li>Saturday 22<sup>nd</sup> June</li>
		</ul>
	</section>
	<section>
		<h1>
			<a
				href="https://www.hampshirefarmersmarkets.co.uk/market-locations/?market=16"
				>Hampshire Farmers Market Emsworth</a
			>
		</h1>
		<ul>
			<li>Saturday 20<sup>th</sup> April</li>
			<li>Saturday 18<sup>th</sup> May</li>
			<li>Saturday 15<sup>th</sup> June</li>
		</ul>
	</section>
	<section>
		<h1>
			<a
				href="https://www.hampshirefarmersmarkets.co.uk/market-locations/?market=42"
				>Hamble Spring Festival Market</a
			>
		</h1>
		<ul>
			<li>Saturday 11<sup>th</sup> May</li>
		</ul>
	</section>
	<section>
		<h1>
			<a
				href="https://www.hampshirefarmersmarkets.co.uk/market-locations/?market=12"
				>Newhouse Farm Market Alresford</a
			>
		</h1>
		<ul>
			<li>Saturday 1<sup>st</sup> June</li>
		</ul>
	</section>
</article>
