<article>
	<h1>Market</h1>
	<details>
		<summary>
			<h1>Drapers Yard Chichester</h1>
		</summary>
		<ul>
			<li>Saturday 13<sup>th</sup> April</li>
			<li>Saturday 27<sup>th</sup> April</li>
			<li>Saturday 25<sup>th</sup> May</li>
			<li>Saturday 8<sup>th</sup> June</li>
			<li>Saturday 22<sup>nd</sup> June</li>
		</ul>
	</details>
	<details>
		<summary>
			<h1>Hampshire Farmers Market Emsworth</h1>
		</summary>
		<ul>
			<li>Saturday 20<sup>th</sup> April</li>
			<li>Saturday 18<sup>th</sup> May</li>
			<li>Saturday 15<sup>th</sup> June</li>
		</ul>
	</details>
	<details>
		<summary>
			<h1>Hamble Spring Festival Market</h1>
		</summary>
		<ul>
			<li>Saturday 11<sup>th</sup> May</li>
		</ul>
	</details>
	<details>
		<summary>
			<h1>Newhouse Farm Market Alresford</h1>
		</summary>
		<ul>
			<li>Saturday 1<sup>st</sup> June</li>
		</ul>
	</details>
</article>
