@font-face {
	font-display: swap;
	font-family: "Marche Super";
	font-style: normal;
	font-weight: 400;
	src: url("#{$url}#{$baseurl}/assets/fonts/marche-trial/marchetrial-super.otf")
		format("opentype");
}
