@font-face {
	font-display: swap;
	font-family: "MAD Serif";
	font-style: normal;
	font-weight: 800;
	src: url("#{$url}#{$baseurl}/assets/fonts/mad-serif-trial/madseriftrial-black.otf")
		format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "MAD Serif Fill";
	font-style: normal;
	font-weight: 800;
	src: url("#{$url}#{$baseurl}/assets/fonts/mad-serif-trial/madseriffilltrial-black.otf")
		format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "Marche Super";
	font-style: normal;
	font-weight: 400;
	src: url("#{$url}#{$baseurl}/assets/fonts/marche-trial/marchetrial-super.otf")
		format("opentype");
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	&,
	&:visited {
		color: #14187a;
	}
}

html {
	background: #f9eaeb;
	color: #c12126;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

main {
	background: white;
	margin: 0 0 0 auto;
	max-width: 600px;
	padding: 12px 4px;
	position: relative;
	& aside {
		background: white;
		height: 100%;
		padding: 24px 64px 24px 24px;
		position: fixed;
		right: 600px;
		top: 0;
		& nav {
			display: flex;
			flex-direction: column;
			& + nav {
				border-top: 2px solid #d66f72;
				margin-top: 24px;
				padding-top: 24px;
			}
			& a {
				font-family: "Marche Super", sans-serif;
				font-size: 24px;
				font-weight: normal;
				text-transform: uppercase;
				display: flex;
				align-items: center;
			}
		}
	}
	& header {
		& h1 {
			font-family: "MAD Serif", serif;
			font-size: 100px;
			font-weight: 800;
			line-height: 1.15;
			margin: 0;
			overflow: hidden;
			padding: 0 0 310px;
			position: relative;
			img {
				bottom: 0;
				display: block;
				position: absolute;
				right: -32px;
			}
		}
	}
	& h2 {
		border-bottom: 2px solid #d66f72;
		font-family: "Marche Super", sans-serif;
		font-size: 24px;
		font-weight: normal;
		margin: 32px 0 0;
		text-transform: uppercase;
		&:not(:first-of-type) {
			margin-top: 78px;
		}
	}
	& section {
		padding: 24px 0 12px;
		position: relative;
		& + section {
			border-top: 1px solid #d66f72;
		}
		& h1 {
			font-family: "MAD Serif Fill", serif;
			font-size: 48px;
			font-weight: 800;
			line-height: 1.2;
			margin: 0 0 12px;
		}
		& ul {
			display: flex;
			flex-wrap: wrap;
			font-family: "Marche Super", sans-serif;
			font-size: 16px;
			line-height: 1.5;
			list-style: none;
			margin: 0 0 12px;
			padding: 0;
			text-transform: uppercase;
			white-space: nowrap;
			& li {
				flex: 0 1 33.3%;
				margin: 0;
				padding: 0 24px 0 0;
				& sup {
					font-size: 8px;
				}
			}
		}
		& p {
			font-family: "Marche Super", sans-serif;
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
			text-transform: uppercase;
			&:last-child {
				margin-bottom: 12px;
			}
		}
	}
}
