@font-face {
	font-display: swap;
	font-family: "MAD Serif";
	font-style: normal;
	font-weight: 800;
	src: url("/assets/mad-serif-trial/madseriftrial-black.otf") format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "MAD Serif Fill";
	font-style: normal;
	font-weight: 800;
	src: url("/assets/mad-serif-trial/madseriffilltrial-black.otf")
		format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "Plakat";
	font-style: normal;
	font-weight: 800;
	src: url("/assets/PlakatTrial/PlakatTrial-Black.otf") format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "Marche Super";
	font-style: normal;
	font-weight: 800;
	src: url("/assets/marche-trial/marchetrial-super.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

html {
	background: #f9eaeb;
	color: #c12126;
	margin: 0;
}

body {
	margin: 0;
	max-width: 600px;
	padding-left: 4px;
}

h1 {
	font-family: "MAD Serif", serif;
	font-size: 102px;
	font-weight: 800;
	line-height: 1.15;
	margin: 0 0 64px;
}

h2 {
	border-bottom: 1px solid #d66f72;
	font-family: "Plakat", sans-serif;
	font-size: 18px;
	font-weight: 800;
	margin: 48px 0 0;
	text-transform: uppercase;
}

section {
	display: flex;
	margin: 0 0;
	padding: 24px 0;
	& + & {
		border-top: 1px solid #ebb9bb;
	}
	h1 {
		flex: 1 1 65%;
		font-family: "MAD Serif Fill", serif;
		font-size: 34px;
		font-weight: 800;
		line-height: 1.4;
		margin: 0;
		// position: relative;
		// top: -8px;
	}
	ul {
		flex: 1 1 35%;
		font-family: "Plakat", sans-serif;
		font-size: 16px;
		font-weight: 800;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		text-transform: uppercase;
		white-space: nowrap;
		li {
			margin-bottom: 12px;
			sup {
				font-size: 8px;
			}
		}
	}
}

a,
a:visited {
	color: #14187a;
	text-decoration: none;
}

main {
}
