@import "body";
@import "font-face-mad-serif";
@import "font-face-marche-super";
@import "font-face-mabry";
@import "heading";
@import "ul";
@import "safe-area-inset";

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: color 200ms;
	&,
	&:visited {
		color: #14187a;
	}
	&:hover {
		text-decoration: underline;
	}
}

html {
	background: white;
	color: #ae1d22;
	font-family: "Mabry", sans-serif;
	font-size: 18px;
	line-height: 1;
	margin: 0;
	scroll-behavior: smooth;
}

article {
	nav {
		background: white;
		padding: 0 12px;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 1;
		@supports (-webkit-backdrop-filter: blur(8px)) {
			& {
				-webkit-backdrop-filter: blur(8px);
				background-color: rgba(255, 255, 255, 0.82);
			}
		}
		ul {
			align-items: center;
			display: flex;
			list-style: none;
			margin: 0 auto;
			padding: 12px 0;
			width: 100%;
			li {
				&:nth-child(2),
				&:nth-child(3) {
					margin-left: auto;
				}
				&:nth-child(4) {
					margin-right: auto;
				}
				a[href="#bread"] {
					&::after {
						content: "\00a0\0026\00a0";
						display: inline-block;
						color: #ae1d22;
					}
				}
			}
		}
	}
	header {
		background: #f9eaeb;
		padding: 42px 12px 12px;
		position: relative;
		h1 {
			font-family: "MAD Serif", serif;
			font-size: 16vw;
			font-weight: 800;
			margin: 0;
			position: relative;
			text-transform: capitalize;
			&::before {
				// TODO: Logo
				content: "";
				display: block;
				height: 64px;
				margin: 4px 0;
				width: 64px;
			}
			span {
				display: inline-block;
				width: 1.1vw;
			}
		}
		& > img {
			display: none;
		}
	}
	& > div {
		padding: 12px;
		div#market,
		div#shop,
		div#bread,
		div#pastry,
		div#about {
			// TODO: align shop, etc articles
			position: relative;
			top: -124px;
		}
		& > article {
			& > h1 {
				border-bottom: 1px solid #d66f72;
				font-family: "MAD Serif", serif;
				font-size: 64px;
				font-weight: 400;
				margin-bottom: 12px;
				padding-bottom: 12px;
			}
		}
	}
}

details {
	margin-bottom: 48px;
	summary {
		color: #14187a;
		// display: flex;
		overflow: hidden;
		padding-bottom: 6px;
		&::-webkit-details-marker {
			margin-top: 14px;
			float: left;
		}
		h1 {
			font-family: "Mabry", sans-serif;
			font-size: 36px;
			font-weight: 700;
			max-width: 310px;
			text-transform: capitalize;
			float: left;
		}
	}
	p,
	ul {
		margin-left: 22px;
	}
	ul {
		list-style: none;
	}
}
