@media screen and (min-width: 30em) {
	article {
		nav {
			margin-left: 50%;
			top: 0;
			width: 50%;
			padding: 0 24px;
			ul {
				border-bottom: 1px solid #efd3d4;
				padding: 24px 0;
				font-size: 20px;
			}
		}
		header {
			padding: 0 24px 24px;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 50%;
			h1 {
				font-size: 7.7vw;
			}
			& > img {
				bottom: 0;
				display: block;
				height: auto;
				position: absolute;
				right: 0;
				width: 32vw;
			}
		}
		& > div {
			margin-left: 50%;
			padding: 69px + 24px 24px;
			width: 50%;
			div#market,
			div#shop,
			div#bread,
			div#pastry,
			div#about {
				// TODO: align shop, etc articles
				position: relative;
				top: -124px;
			}
		}
	}
}
