@font-face {
	font-display: swap;
	font-family: "MAD Serif";
	font-style: normal;
	font-weight: 800;
	src: url("#{$url}#{$baseurl}/assets/fonts/mad-serif-trial/madseriftrial-black.otf")
		format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "MAD Serif Fill";
	font-style: normal;
	font-weight: 800;
	src: url("#{$url}#{$baseurl}/assets/fonts/mad-serif-trial/madseriffilltrial-black.otf")
		format("opentype");
}
@font-face {
	font-display: swap;
	font-family: "Marche Super";
	font-style: normal;
	font-weight: 400;
	src: url("#{$url}#{$baseurl}/assets/fonts/marche-trial/marchetrial-super.otf")
		format("opentype");
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: color 200ms;
	&,
	&:visited {
		color: #14187a;
	}
	&:hover {
		color: #c12126;
	}
}

html {
	background: #f9eaeb;
	color: #c12126;
	font-family: "Marche Super", sans-serif;
	line-height: 1.5;
	margin: 0;
	scroll-behavior: smooth;
	text-transform: uppercase;
}

body {
	background: white;
	margin: 0;
	padding-bottom: 110px;
	& > aside {
		background: white;
		display: flex;
		justify-content: space-between;
		padding: 12px;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1;
		& nav {
			display: flex;
			flex-direction: column;
			& a {
				line-height: 1;
				font-size: 20px;
				font-weight: normal;
				&[href="#"],
				&[href*="tel"],
				&[href*="mailto"] {
					display: none;
				}
				&[href*="instagram"],
				&[href*="twitter"] {
					text-align: right;
				}
			}
		}
	}
	& > nav {
		background: white;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		left: 0;
		padding: 14px 12px 76px;
		position: fixed;
		width: 100%;
		& a {
			line-height: 1;
			font-size: 20px;
			font-weight: normal;
		}
	}
}
@supports (-webkit-backdrop-filter: blur(8px)) {
	body {
		& > aside,
		& > nav {
			-webkit-backdrop-filter: blur(8px);
			background-color: rgba(255, 255, 255, 0.82);
		}
	}
}

main {
	background: white;
	padding: 12px 12px 12px 10px;
	width: 100%;
	position: relative;
	& header {
		& h1 {
			font-family: "MAD Serif", serif;
			font-size: 16vw;
			font-weight: 800;
			line-height: 1.15;
			margin: 0;
			padding-bottom: 53vw;
			position: relative;
			text-transform: capitalize;
			img {
				bottom: 0;
				display: block;
				height: auto;
				padding-left: 25vw;
				position: absolute;
				right: 0;
				width: 100%;
			}
		}
	}
}

article {
	margin-top: 151px;
	& > h2 {
		border-bottom: 2px solid #d66f72;
		font-size: 24px;
		font-weight: normal;
		margin: 32px 0 12px;
		&:not(:first-of-type) {
			margin-top: 78px;
		}
	}
	& section {
		padding: 12px 0;
		position: relative;
		& h1 {
			font-family: "MAD Serif Fill", serif;
			font-size: 36px;
			font-weight: 800;
			line-height: 1.3;
			margin: 0;
			padding: 12px 0 6px;
			text-transform: capitalize;
		}
	}
	#market + & {
		& section {
			& ul {
				font-size: 16px;
				list-style: none;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				display: flex;
				flex-wrap: wrap;
				& li {
					margin: 0;
					padding: 0;
					border-bottom: 1px solid #d66f72;
					flex-grow: 1;
					min-width: 50%;
					& sup {
						font-size: 8px;
					}
				}
			}
		}
	}
	#shop + & {
		& h1:only-child {
			border-bottom: 1px solid #d66f72;
			padding-top: 6px;
			padding-bottom: 24px;
		}
		& p {
			font-size: 16px;
			margin: 0;
			&:last-child {
				border-bottom: 1px solid #d66f72;
			}
		}
	}
	#about + & {
		overflow: hidden;
		p {
			line-height: 1;
		}
		img {
			float: left;
			padding-right: 12px;
		}
	}
}
