@media screen and (min-width: 30em) {
	body {
		display: flex;
		max-width: 24px + 162px + 64px + 600px;
		padding-bottom: 0;
		& > aside {
			height: 350px - 16px;
			padding: 24px 24px 0;
			width: 162px + 64px;
			flex-direction: column;
			& nav {
				&:nth-child(2) {
					text-align: left;
				}
				& a {
					&[href="#"],
					&[href*="tel"],
					&[href*="mailto"] {
						&,
						& + br {
							display: inline;
						}
					}
				}
			}
		}
		& > nav {
			display: none;
		}
	}
	main {
		padding-top: 12px;
		padding-left: 0;
		width: 600px;
		& header {
			& h1 {
				font-size: 100px;
				padding-bottom: 310px;
				img {
					max-width: 410px;
					padding-left: 0;
				}
			}
		}
	}
	article {
		& section {
			& h1 {
				font-size: 52px;
			}
		}
	}
}
