@import "body";
@import "font-face-mad-serif";
@import "font-face-marche-super";
@import "font-face-mabry";
@import "heading";
@import "ul";
@import "safe-area-inset";

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: color 200ms;
	&,
	&:visited {
		color: #14187a;
	}
	&:hover {
		text-decoration: underline;
	}
}

html {
	background: white;
	color: #ae1d22;
	font-family: "Mabry", sans-serif;
	line-height: 1;
	margin: 0;
	scroll-behavior: smooth;
}

article {
	nav {
		background: white;
		margin-left: 50%;
		padding: 0 24px;
		position: fixed;
		top: 0;
		width: 50%;
		z-index: 1;
		@supports (-webkit-backdrop-filter: blur(8px)) {
			& {
				-webkit-backdrop-filter: blur(8px);
				background-color: rgba(255, 255, 255, 0.82);
			}
		}
		ul {
			align-items: center;
			border-bottom: 1px solid #efd3d4;
			display: flex;
			font-size: 20px;
			list-style: none;
			margin: 0 auto;
			padding: 24px 0;
			width: 100%;
			li {
				&:nth-child(2),
				&:nth-child(3) {
					margin-left: auto;
				}
				&:nth-child(4) {
					margin-right: auto;
				}
				a[href="#bread"] {
					&::after {
						content: "\00a0\0026\00a0";
						display: inline-block;
						color: #ae1d22;
					}
				}
			}
		}
	}
	header {
		background: #f9eaeb;
		height: 100%;
		left: 0;
		padding: 0 24px;
		position: fixed;
		top: 0;
		width: 50%;
		h1 {
			font-family: "MAD Serif", serif;
			font-size: 7.7vw;
			font-weight: 800;
			margin: 0;
			position: relative;
			text-transform: capitalize;
			&::before {
				// TODO: Logo
				display: block;
				margin-bottom: 4px;
				content: "";
				width: 64px;
				height: 64px;
			}
			span {
				width: 7px;
				display: inline-block;
			}
		}
		& > img {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 32vw;
			height: auto;
		}
	}
	& > div {
		margin-left: 50%;
		padding: 69px + 24px 24px 24px;
		width: 50%;
		div#market,
		div#shop,
		div#bread,
		div#pastry,
		div#about {
			// TODO: align shop, etc articles
			position: relative;
			top: -124px;
		}
		& > article {
			& > h1 {
				border-bottom: 1px solid #d66f72;
				font-family: "MAD Serif", serif;
				font-size: 64px;
				font-weight: 400;
				margin-bottom: 12px;
				padding-bottom: 12px;
			}
			section {
				h1 {
					font-family: "Mabry", sans-serif;
					font-size: 36px;
					font-weight: 700;
					max-width: 310px;
					padding: 12px 0 6px;
					text-transform: capitalize;
				}
				ul {
					list-style: none;
					visibility: hidden;
				}
			}
		}
	}
}
