---
layout: default
---

<header>
	<h1>
		Hampshire <br />Real <span></span>Bread <br />Co.
		<!-- <img height="440" src="{{ site.url }}{{ site.baseurl }}/assets/images/hampshirerealbread_1550824982.jpg" width="440"> -->
		<img
			height="400"
			src="{{ site.url }}{{
				site.baseurl
			}}/assets/images/bearboyfresh_1553858283.jpg"
			width="400"
		/>
	</h1>
</header>
<div id="market"></div>
{%- include market.html -%}
<div id="shop"></div>
{%- include shop.html -%}
<div id="bread"></div>
{%- include bread.html -%}
<div id="pastry"></div>
{%- include pastry.html -%}
<div id="about"></div>
{%- include about.html -%}

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
