---
layout: default
---
<header>
  <h1>Hampshire Real Bread Co.
    <!-- <img height="440" src="/assets/images/hampshirerealbread_1550824982.jpg" width="440"> -->
    <img height="410" src="{{ site.url }}{{ site.baseurl }}/assets/images/bearboyfresh_1553858283.jpg" width="410">
  </h1>
</header>
<h2>When</h2>
<section>
<h1><a href="http://drapers-yard.co.uk/">Drapers Yard Chichester</a></h3>
<ul>
  <li>Saturday 13<sup>th</sup> April</li>
  <li>Saturday 27<sup>th</sup> April</li>
  <li>Saturday 25<sup>th</sup> May</li>
  <li>Saturday 8<sup>th</sup> June</li>
  <li>Saturday 22<sup>nd</sup> June</li>
</ul>
</section>
<section>
<h1><a href="https://www.hampshirefarmersmarkets.co.uk/market-locations/?market=16">Hampshire Farmers Market Emsworth</a></h3>
<ul>
  <li>Saturday 20<sup>th</sup> April</li>
  <li>Saturday 18<sup>th</sup> May</li>
  <li>Saturday 15<sup>th</sup> June</li>
</ul>
</section>
<section>
    <h1><a href="https://www.hampshirefarmersmarkets.co.uk/market-locations/?market=42">Hamble Spring Festival Market</a></h3>
    <ul>
      <li>Saturday 11<sup>th</sup> May</li>
    </ul>
</section>
<section>
    <h1><a href="https://www.hampshirefarmersmarkets.co.uk/market-locations/?market=12">Newhouse Farm Market Alresford</a></h3>
    <ul>
      <li>Saturday 1<sup>st</sup> June</li>
    </ul>
</section>
<h2>Where</h2>
<section>
<h1><a href="http://drapers-yard.co.uk/shed/bear-and-boy-fresh-grocery-and-eatery/">Boy & Bear Fresh</a></h3>
</section>
<section>
<h1><a href="https://en-gb.facebook.com/wearecommongrounds/">Common Grounds</a></h3>
<ul>
  <li>Doughnuts every Wednesday</li>
  <li>Cinnamon Swirls every Thursday</li>
</ul>
</section>
<section>
<h1><a href="">Tuppenny Barn</a></h3>
<ul>
  <li>Every Thursday</li>
</ul>
</section>

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
