---
layout: default
---

<h1>Hampshire Real Bread Co.</h1>
<h2>When</h2>
<section>
<h1><a href="">Drapers Yard, Chichester</a></h3>
<ul>
  <li>Saturday 13<sup>th</sup> April</li>
  <li>Saturday 13<sup>th</sup> April</li>
</ul>
</section>
<section>
<h1><a href="">Hampshire Farmers Market, Emsworth</a></h3>
<ul>
  <li>Saturday 20<sup>th</sup> April</li>
  <li>Saturday 20<sup>th</sup> April</li>
</ul>
</section>
<h2>Where</h2>
<section>
<h1><a href="">Boy & Bear Fresh</a></h3>
<ul>
  <li>Saturday 13<sup>th</sup> April</li>
  <li>Saturday 13<sup>th</sup> April</li>
</ul>
</section>
<section>
<h1><a href="">Common Grounds</a></h3>
<ul>
  <li>Saturday 20<sup>th</sup> April</li>
  <li>Saturday 20<sup>th</sup> April</li>
</ul>
</section>

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
